@media (max-width: 992px) {

    .logo {
        font-size: 50px;
        margin-right: 40px;
    }
    .top-nav-item {
        font-size: 15px;
    }

    .col-3{
        width:50%;
    }
    .col-4{
        width:50%;
    }
    .col-6{
        width:50%;
    }
}
@media (max-width: 768px) {
    .logo {
        font-size: 30px;
    }
    .top-nav-item {
        font-size: 12px;
    }
    .portfolio-nav-btn {
        font-size: 12px;
        padding: 0 18px;
    }
}
@media (max-width: 540px) {
    .logo {
        font-size: 15px;
    }
    .top-nav-item {
        font-size: 8px;
    }
    .hero-content {
        padding-top: 40px;
    }
   .hero-content-title{
       font-size: 20px;
    }
   .hero-content-desc {
       font-size: 12px;
    }
    .col-3{
        width:100%;
    }
    .col-4{
        width:100%;
    }
    .col-6{
        width:100%;
    }
    .portfolio-nav-btn {
        font-size: 12px;
        padding: 0 18px;
    }
    .portfolio-nav {
        margin: -43px 0 37px 0;
    }
    .social a {
        margin-bottom: 20px;
    }
.form-btn {
      text-align: center;
    }
}